In [1]:
print("This is sparta")

This is sparta

In [2]:
# Variables in Python
# int float boolean string are the datatypes in python
a = 5
type(a)

int

In [3]:
a = 5.5
type(a)

float

In [6]:
a = "Student"
type(a)

str

In [7]:
a = True
type(a)

bool

In [8]:
# Operators in Python : Relational Arithmatic Logical
# Arithmatic : +-*/
# Relational : <,>,==,!=
# Logical : &,|

In [9]:
# Python Tokens : Smallest meaningful Component in a program
# Keywords Literals Identifiers Operators

In [10]:
# Keywords : special reserved words: False class Finally Is Return None continue For Lambda Try True def From Nonlocal While and
# del Global Not With as elif If Or Yield

In [11]:
# Python Identifiers : Names used for variables, functions or objects : Rules : 1No special character except _.2Identifiers are
# case sensitive.3First letter cannot be a digit

In [12]:
# Literals : Lierals are constants in python

In [13]:
# Python strings
# Extracting individual character from string
my_string = "Hello World"
print(my_string[0])

H

In [14]:
# Finding the length of string
print(len(my_string))

11

In [15]:
# Converting string to lower case
my_string.lower()

'hello world'

In [16]:
# Converting string to upper case
my_string.upper()

'HELLO WORLD'

In [17]:
# Replacing a substring 
my_string.replace('H','I')

'Iello World'

In [18]:
# Number of occurence of substring
my_string.count('l')

3

In [20]:
# Finding the index of substring
s1 = "This is Python"
s1.find('is')

2

In [22]:
# Splitting a string
hobby = "I like coding,cricket and biking"
hobby.split(',')

['I like coding', 'cricket and biking']

In [23]:
# Data structures in python
#Tuple List Dictionary Set

In [25]:
# Tuple is an ordered collection of elements enclosed within ()
# Tuples are immutable
tup = (1,"Hi",True)
print(tup)
print(type(tup))
tup[0]

(1, 'Hi', True)
<class 'tuple'>

1

In [26]:
# Finding the length of tuple
len(tup)

3

In [27]:
# Concatenating tuple
tup1 = (2,"Bye",False)
print(tup+tup1)

(1, 'Hi', True, 2, 'Bye', False)

In [29]:
# Repeating tuple elements
print(tup*3)

(1, 'Hi', True, 1, 'Hi', True, 1, 'Hi', True)

In [30]:
# Finding minimum and maximum in tuple
tup = (1,5,9)
min(tup)
max(tup)

9

In [35]:
# List in Python : List is an ordered collection in Python enclosed within []
# Lists are mutable
l1 = [1,"a","True",4.5]

In [36]:
# Lets extract the individual element
l1[0]

1

In [37]:
# Lets extract the multiple elements
l1[2:5]

['True', 4.5]

In [38]:
# Modifying a list
# changing the element at 0th index
l1[0] = 100

In [39]:
l1

[100, 'a', 'True', 4.5]

In [40]:
# appending an element to a list
l1.append(5)

In [41]:
l1

[100, 'a', 'True', 4.5, 5]

In [42]:
# Lets pop the last element
l1.pop()

5

In [43]:
l1

[100, 'a', 'True', 4.5]

In [44]:
# reversing the elements of list
l1.reverse()

In [45]:
l1

[4.5, 'True', 'a', 100]

In [46]:
# Inserting the element at specified index
l1.insert(1,"Saurav")

In [47]:
l1

[4.5, 'Saurav', 'True', 'a', 100]

In [49]:
# Sorting a list
l2 = ["apple","pineapple","banana","orange"]
l2.sort()

In [50]:
l2

['apple', 'banana', 'orange', 'pineapple']

In [51]:
# Basic operations of list
l1 = [1,2,3]
l2 = ["Hi","Hello","How"]
l1+l2

[1, 2, 3, 'Hi', 'Hello', 'How']

In [52]:
# Lets repeat the list elements
l1 = ["Hi","Hello","How"]
l1*3

['Hi', 'Hello', 'How', 'Hi', 'Hello', 'How', 'Hi', 'Hello', 'How']

In [53]:
# Dictionary in Python : Dictionary is an unordered collection of key-value pairs enclosed with {}
# Dictionary is mutable
d1 ={"Apple":50,"Mango":100,"Guava":100,"Banana":10}
type(d1)

dict

In [56]:
# Extracting keys and values
print(d1.keys())
print(d1.values())

dict_keys(['Apple', 'Mango', 'Guava', 'Banana'])
dict_values([50, 100, 100, 10])

In [57]:
# Modifying a dictionary
# Adding a new element
d1["mango"]=70

In [58]:
d1

{'Apple': 50, 'Mango': 100, 'Guava': 100, 'Banana': 10, 'mango': 70}

In [59]:
# Changing the value of an existing element
d1["Apple"]=200

In [60]:
d1

{'Apple': 200, 'Mango': 100, 'Guava': 100, 'Banana': 10, 'mango': 70}

In [61]:
# Lets update one dictionary's records with anothers
dict1 = {"Apple":50,"Banana":80}
dict2 = {"Mango":40,"Guava":90}
dict1.update(dict2)

In [62]:
print(dict1)

{'Apple': 50, 'Banana': 80, 'Mango': 40, 'Guava': 90}

In [63]:
dict1 = {"Apple":50,"Banana":80}
dict2 = {"Mango":40,"Apple":90}
dict1.update(dict2)

In [64]:
dict1

{'Apple': 90, 'Banana': 80, 'Mango': 40}

In [66]:
# Lets pop last element of a dictionary
d1.pop("mango")

70

In [67]:
d1

{'Apple': 200, 'Mango': 100, 'Guava': 100, 'Banana': 10}

In [68]:
# Set in Python : Set is an unordered and unindexed collection of elements enclosed with {}
# Duplicates are not allowed in sets
s1 = {1,True,"Hi",4.5}

In [69]:
# Update one set element with another
s1.add("Hello")

In [70]:
s1

{1, 4.5, 'Hello', 'Hi'}

In [71]:
# Updating multiple element
s1.update([10,20,30])

In [72]:
s1

{1, 10, 20, 30, 4.5, 'Hello', 'Hi'}

In [73]:
# Removing an element
s1.remove("Hi")

In [74]:
s1

{1, 10, 20, 30, 4.5, 'Hello'}

In [75]:
# Set functions 
# Union of two sets
s1 = {1,2,3}
s2 = {"a","b","c"}
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [76]:
# Intersection of two sets 
s1 = {"a","b","c"}
s2 = {"p","a","r"}
s1.intersection(s2)

{'a'}

In [78]:
# If statement
a = 10
b = 20
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [81]:
# elif
c= 30
if (a>b) & (a>c):
    print("a is greater than c and b")
elif (b>a) & (b>c):
    print("b is greater than a and c")
else:
    print("c is greater than a and b")

c is greater than a and b

In [82]:
# if with tuple
tup1 = (1,2,3)
if 1 in tup1:
    print("Value is present in tuple")

Value is present in tuple

In [83]:
# if with list
l1 = ["a","b","c"]
if "a" in l1:
    print("Value is present in list")

Value is present in list

In [85]:
# if with dictionary
d1 = {"k1":10,"k2":20,"k3":30}
if d1["k3"] == 30:
    d1["k3"] = d1["k3"]+100

In [86]:
d1

{'k1': 10, 'k2': 20, 'k3': 130}

In [2]:
# Looping statements
# While loop:
i = 1
while i<=10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [4]:
# Lets print the table of 5 using while loop
i = 1
n = 5
while i<=10:
    print(n," * ",i," = ",n*i)
    i = i+1

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [5]:
# While with list
# Lets add 100 to each element of the list
l1 = [1,2,3,4,5]
i = len(l1)
i

5

In [7]:
j = 0
while j<i:
    l1[j] = l1[j]+100
    j = j+1

In [8]:
l1

[101, 102, 103, 104, 105]

In [9]:
# For loop 
1

1

In [18]:
# Problem statement : Print the pattern
#1
#22
#333
#4444
#55555

for i in range(1,6):
    for j in range(1,6):
        print(i,end='')
        if(j==i):
            break
    print(end='\n')

1
22
333
4444
55555

In [19]:
# Lets continue the for loop
l1

[101, 102, 103, 104, 105]

In [20]:
for i in l1:
    print(i)

101
102
103
104
105

In [21]:
# Nested for loop
l1 = ["mango","banana","orange"]
l2 = ["chair","pen","table"]
for i in l1:
    for j in l2:
        print(i,j)

mango chair
mango pen
mango table
banana chair
banana pen
banana table
orange chair
orange pen
orange table

In [22]:
# Functions in real life : eating running cycling
# Python functions : Function is block of code which performs particular task
# Deposit Withdraw Balance
def Hello():
    print("Hello World!")

In [24]:
# Function invoking
Hello()

Hello World!

In [25]:
# function with parameter
def add_10(x):
    print(10+x)

In [26]:
add_10(5)

15

In [27]:
# Problem statement : Write a function to check whether a number is even or odd
def even_odd(x):
    if x%2==0:
        print("Even")
    else:
        print("Odd")

In [28]:
even_odd(2)

Even

In [29]:
# Lambda function
# Also called as anonymous function
a = lambda x: x*x*x
a(7)

343

In [31]:
# lambda with filter
l1 = [12,14,34,56,71,13]
final_list = list(filter(lambda x : (x%2!=0),l1))

In [32]:
final_list

[71, 13]

In [34]:
# lambda with map
l1 = [1,2,3,4,5,6]
final_list=list(map(lambda x: x*2,l1))

In [35]:
final_list

[2, 4, 6, 8, 10, 12]

In [37]:
from functools import reduce
sum = reduce(lambda x,y:x+y,l1)

In [38]:
sum

21

In [39]:
# Python object oriented programming
# Everything around is object
# Realworld entities to programming
# Classes: Template or Blueprint for real world entity
# Object : Class have properties and behaviour : Object is specific instance of class
# Class is user defined datatype
# properties are attribute
# behaviour is method

In [43]:
# Creating the first class
# Creating class name = phone
class Phone:
    def make_call(self):
        print("Making phone call")
    def play_game(self):
        print("Playing game")

In [44]:
#Instantiating the 'p1' object
p1 = Phone()

In [45]:
p1.make_call()

Making phone call

In [46]:
p1.play_game()

Playing game

In [47]:
# Adding parameter to class
class Phone:
    def set_color(self,color):
        self.color = color
    def set_cost(self,cost):
        self.cost = cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost

In [48]:
p2 = Phone()

In [49]:
p2.set_color("Yellow")

In [51]:
p2.set_cost(500)

In [53]:
p2.show_color()

'Yellow'

In [54]:
p2.show_cost()

500

In [55]:
# Creating class with constructor
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    def employee_details(self):
        print("Name of Employee is :",self.name)
        print("Age of Employee is :",self.age)
        print("Salary of Employee is :",self.salary)
        print("Gender of Employee is :",self.gender)

In [57]:
e1 = Employee("Sam",32,85000,"Male")
e1.employee_details()

Name of Employee is : Sam
Age of Employee is : 32
Salary of Employee is : 85000
Gender of Employee is : Male

In [60]:
# Inheritance in python
class Vehicle: 
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
    def show_details(self):
        print("Mileage of the vehicle is :",self.mileage)
        print("Cost of the vehicle is :",self.cost)

In [61]:
v1 = Vehicle(45,5000)

In [62]:
v1.show_details()

Mileage of the vehicle is : 45
Cost of the vehicle is : 5000

In [63]:
# Lets create child class of Vehicle
class Car(Vehicle):
    def show_car(self):
        print("I am a car")

In [64]:
c = Car(50,500)

In [65]:
c.show_car()

I am a car

In [66]:
c.show_details()

Mileage of the vehicle is : 50
Cost of the vehicle is : 500

In [67]:
v1.show_details()

Mileage of the vehicle is : 45
Cost of the vehicle is : 5000

In [68]:
# Overriding init method
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
    def show_car_details(self):
        print("I am a car")
        print("Number of tyres are :",self.tyres)
        print("Value of Horse Power is :",self.hp)

In [69]:
c = Car(20,400,4,1000)

In [70]:
c.show_car_details()

I am a car
Number of tyres are : 4
Value of Horse Power is : 1000